@charset "UTF-8";

/*------------------reset------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------body------------------*/

body {
    background: #f3eeea;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*------------------wrapper------------------*/

.wrapper {
    margin: auto;
    width: 1400px;
}

/*------------------header------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header {
    font-size: 22px;
    text-decoration: bold;
}

#blocjaune {
    height: 235px;
    width: 1070px;
    background-color: #fcce30;
    margin: auto;
}

#logo {
    margin-left: 65px;
    margin-top: 10px;
    height: 80%;
}

ul {
    list-style-type: none;
}

.lienNoir {
    margin : 55px 0px 0px 44px;
    float: right;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.lienBleu {
    margin : 60px 20px 0px 20px;
    float: right;
    color : #3d91a8;
    text-decoration: none;
    font-size: 18px;
}

#partielogo {
    width: 470px;
    height: 235px;
    display: inline-block;
}

#partieli {
    width: 600px;
    height: 235px;
    float: right;
    text-align: right;
}

.droite {
    float: right;
}

#line {
    width: 350px;
}

.margin20 {
    margin: 17px;
    font-size: 20px;
}

body td {
    padding : 7px;
}

body table {
    margin: 20px;
    margin: auto;
}

body h1 {
    margin: auto;
    margin-bottom: 10px;
    font-size: 20px;
}

#fr {
    border-radius: 50%;
    background-image: url(\img\france.jpg);
    width: 30px;
    height: 30px;
    border: 1px solid;
}

/*------------------content------------------*/

.content {
    padding-top: 140px;
    padding-bottom: 140px;
    margin-top: 130px;
    width: 100%;
    border-top: 1px solid;
}

/*------------------footer------------------*/

.footer {
    color: #f3eeea;
    background: #525252;
    height: 70px;
    width: 100%;
}

.copyright {
    padding-top: 26px;
    color: #d1cfcf;
    width: 1000px;
    margin: auto;
    height: 53px;
    border-top: 1px solid #d1cfcf;
}

.cop {
    font-size: 11px;
}