h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

form {
    text-align: center;
}

label {
    font-size: 25px;
}

.case {
    width: 310px;
    height: 25px;
    border: 1px solid #879596;
    border-radius: 2px;
    margin: 10px;
}

.btn {
    height: 45px;
    font-size: 22px;
    width: 200px;
    background: #3d91a8;
    border-radius: 8px;
    margin-top: 50px;
}