h2 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    font-size: 25px;
}

.case {
    width: 310px;
    height: 25px;
    border: 1px solid #879596;
    border-radius: 2px;
    margin: 10px;
}