.rank-star {
    margin:0;
    padding:0;
    font:.75em/1.2 Arial, Helvetica, sans-serif;
}
.rank-star li {
    float:left;
    margin:0;
    padding:0;
    list-style:none;
    min-width:20px;
    min-height:20px;
}
/* Correctif IE6 sur min-width & min-height */
* html .rank-star.js li {
    width:20px;
    height:20px;
}
.rank-star li label {
    display:block;
    text-align:center;
    line-height:20px;
    background:url("./img/etoiles.gif") center top no-repeat;
    cursor:pointer;
}

.rank-star li.note-off label {
    background-position:center -60px;
}